{% extends 'app/base.html' %}

{% block title %}Ajouter un Type d'avion{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Ajouter un type d'avion</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.marque.label_tag }}
            {{ form.marque }}
        </div>
        <div class="mb-3">
            {{ form.modele.label_tag }}
            {{ form.modele }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-3">
            {{ form.longueur_piste_necessaire.label_tag }}
            {{ form.longueur_piste_necessaire }}
        </div>
        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{% url 'typeavion_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
